# 01-06-2021 até 01-06-2022

In [3]:
url = "http://vps-40d69db1.vps.ovh.ca:23004/api/CotacaoIntradayAcaoResultadoValors/obtemDatasPorDataGrupoLimite?diaInicioNum=20210601&diaFinalNum=20220601&grupoAcaoId=12&limiteDiaRegra=260"

In [4]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime

In [5]:
r = requests.get(url)
j = r.json()
df = pd.DataFrame.from_dict(j)

In [6]:
df.head()

,anoMesNum,ticker,codigoRegraProjecao,target,stop,totalLucro,totalPrejuizo,mediaDias
0,202106,ABEV3,t09s15vy,0.09,0.15,315,0,23.3365
1,202106,ABEV3,t10s15vy,0.10,0.15,315,0,25.7556
2,202106,ABEV3,t10s17vy,0.10,0.17,315,0,25.7556
3,202106,ABEV3,t12s15vy,0.12,0.15,315,0,35.8286
4,202106,ABEV3,t12s17vy,0.12,0.17,315,0,35.8286

## Média de Dias

In [9]:
dfDias = df.groupby(['ticker']).mean(['mediaDias'])
dfDias.head()

,anoMesNum,target,stop,totalLucro,totalPrejuizo,mediaDias
ticker,,,,,,
ABEV3,202139.671233,0.118082,0.151918,212.917808,40.986301,35.633634
AERI3,202146.792683,0.118902,0.151463,245.804878,44.780488,15.846191
ALPA4,202146.792683,0.118902,0.151463,215.743902,68.707317,15.486405
ALSO3,202146.074074,0.118519,0.151481,237.703704,41.345679,21.139135
AMAR3,202146.792683,0.118902,0.151463,233.475610,58.134146,10.336854

## Ordenação

In [13]:
dfSort = dfDias.sort_values(by='mediaDias', ascending=True)

In [15]:
df20 = dfSort.head(20)

In [16]:
df20.sort_values(by='ticker')

,anoMesNum,target,stop,totalLucro,totalPrejuizo,mediaDias
ticker,,,,,,
AERI3,202146.792683,0.118902,0.151463,245.804878,44.780488,15.846191
ALPA4,202146.792683,0.118902,0.151463,215.743902,68.707317,15.486405
AMAR3,202146.792683,0.118902,0.151463,233.475610,58.134146,10.336854
ANIM3,202146.792683,0.118902,0.151463,215.975610,72.743902,12.440801
AZUL4,202146.086420,0.118889,0.151235,236.925926,51.271605,14.212894
BKBR3,202145.350000,0.118125,0.152250,199.725000,86.900000,13.536594
BPAN4,202146.074074,0.118519,0.151852,216.185185,56.111111,12.609936
COGN3,202145.350000,0.118125,0.152250,218.425000,67.387500,12.899889
CVCB3,202146.074074,0.118519,0.151852,215.629630,74.271605,9.627862
CYRE3,202144.582278,0.118101,0.151899,209.607595,77.126582,15.800535
EMBR3,202145.350000,0.118125,0.152250,180.137500,103.712500,13.883256
EZTC3,202146.074074,0.118519,0.151852,223.765432,50.098765,16.598098
GOLL4,202146.074074,0.118519,0.151852,202.938272,80.580247,12.688160
LWSA3,202145.710145,0.118261,0.152174,241.942029,47.782609,12.502988
MGLU3,202145.710145,0.118261,0.152174,217.971014,70.434783,10.898107
POSI3,202144.852941,0.117794,0.152647,177.029412,108.985294,10.616282
PRIO3,202142.123077,0.118462,0.152462,121.938462,165.276923,15.136091
PTBL3,202145.710145,0.118261,0.152174,176.797101,99.855072,10.815375
WIZS3,202145.710145,0.118261,0.152174,200.884058,82.710145,13.007565
YDUQ3,202145.710145,0.118261,0.152174,232.782609,58.608696,13.949443