In [4]:
import numpy as np
from datetime import datetime
import requests
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
url = "http://vps-40d69db1.vps.ovh.ca:22001/api/ExecucaoSimulacaos/melhorValidacaoPeriodoFlatPorTicker?idPeriodo=9&limitePorTicker=3"

In [6]:
r = requests.get(url)
j = r.json()
df = pd.DataFrame.from_dict(j)

In [7]:
df.head()

,simulacaoId,ticker,simulacaoResultado,simulacaoLucro,simulacaoPrejuizo,target,stop,tipo,experimentoSimulacaoId,validacaoLucro,validacaoPrejuizo,saldoValidacao
0,11058336,AERI3,44,4,2,0.14,0.08,V,56,1.0,0.0,1.0
1,11058436,AERI3,40,3,1,0.14,0.08,V,56,0.0,0.0,0.0
2,11095036,AERI3,38,2,1,0.18,0.08,V,56,0.0,0.0,0.0
3,11134262,ALPA4,38,1,0,0.22,0.08,V,56,0.0,0.0,0.0
4,11133212,ALPA4,38,1,0,0.22,0.08,V,56,0.0,0.0,0.0

In [9]:
dfANIM3 = df[df['ticker']=='ANIM3']

In [11]:
dfANIM3.head(10)

,simulacaoId,ticker,simulacaoResultado,simulacaoLucro,simulacaoPrejuizo,target,stop,tipo,experimentoSimulacaoId,validacaoLucro,validacaoPrejuizo,saldoValidacao
9,11044815,ANIM3,52,4,0,0.12,0.1,V,56,0.0,1.0,-1.0
10,11044840,ANIM3,52,4,0,0.12,0.1,V,56,0.0,1.0,-1.0
11,11045515,ANIM3,52,4,0,0.12,0.1,V,56,0.0,1.0,-1.0

In [36]:
urlRegraProj = "http://vps-40d69db1.vps.ovh.ca:22001/api/CotacaoIntradayAcaoResultadoValors/obtemResultadoRegraData?codigoRegra=geral&diaNumInicial=20210601&diaNumFinal=20210131"

In [37]:
r = requests.get(urlRegraProj)
j = r.json()
dfRP = pd.DataFrame.from_dict(j)

In [32]:
def analisaTicker(ticker,df,dfRP):
    dfTicker = df[df['ticker']==ticker]
    dfRPTicker = dfRP[dfRP['ticker']==ticker]
    print(dfTicker.head(10))
    print(dfRPTicker.head(10))

In [34]:
analisaTicker('CCRO3', df, dfRP)

    simulacaoId ticker  simulacaoResultado  simulacaoLucro  simulacaoPrejuizo  \
36     10895863  CCRO3                  36               2                  0
37     10900363  CCRO3                  36               2                  0
38     10899913  CCRO3                  36               2                  0

    target  stop tipo  experimentoSimulacaoId  validacaoLucro  \
36    0.14  0.08    V                      54             0.0
37    0.14  0.08    V                      54             0.0
38    0.14  0.08    V                      54             0.0

    validacaoPrejuizo  saldoValidacao
36                1.0            -1.0
37                1.0            -1.0
38                1.0            -1.0
      ano  mes ticker  total  lucro  nulo  prejuizo  maximo  minimo      medio
21   2021    6  CCRO3    210      0   139        71   14.03   13.15  13.666619
118  2021    7  CCRO3    315      0    75       240   14.15   12.95  13.625238
214  2021    8  CCRO3    330      0   318        12   13.46   11.52  12.439485
309  2021    9  CCRO3    315      0   315         0   12.39   11.25  11.787397
403  2021   10  CCRO3    300     77   223         0   12.80   11.03  12.013767
496  2021   11  CCRO3    300    175   125         0   12.20   11.11  11.703367
589  2021   12  CCRO3    315      5   279        31   13.37   11.47  12.230889

In [35]:
analisaTicker('CSNA3', df, dfRP)

    simulacaoId ticker  simulacaoResultado  simulacaoLucro  simulacaoPrejuizo  \
45     11363425  CSNA3                  40               1                  0
46     11363425  CSNA3                  40               1                  0
47     11363172  CSNA3                  40               1                  0

    target  stop tipo  experimentoSimulacaoId  validacaoLucro  \
45    0.22  0.06    V                      57             0.0
46    0.22  0.06    V                      57             0.0
47    0.22  0.06    V                      57             0.0

    validacaoPrejuizo  saldoValidacao
45                1.0            -1.0
46                1.0            -1.0
47                1.0            -1.0
      ano  mes ticker  total  lucro  nulo  prejuizo  maximo  minimo      medio
31   2021    6  CSNA3    210     44   104        62   45.98   40.11  43.368857
128  2021    7  CSNA3    315      0     0       315   48.52   42.78  45.605270
224  2021    8  CSNA3    330      0     0       330   45.89   34.72  40.767515
319  2021    9  CSNA3    315      0     0       315   35.43   27.52  31.579429
413  2021   10  CSNA3    300      0    11       289   29.23   22.78  26.523567
506  2021   11  CSNA3    300    259    36         5   23.45   19.77  21.946100
599  2021   12  CSNA3     47     47     0         0   23.54   21.66  22.727872